*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Roboto Condensed", sans-serif;
	background: #f5f6f8;
	color: #1f2933;
}

.page {
	background: url("/assets/bodybg.png") no-repeat;
    background-size:cover;
}