h1 {
    font-size: 1.5em;
    font-family: Andada Pro, serif;
}
body {
    font-size: 1.0em !important;
    font-family: 'Roboto Condensed', sans-serif;
}
#container {
    font-size: 1.5em !important;
}
input, button {
    font-size: 1.2em !important;
}
#indicators {
    position: fixed;
    right: 5px;
    /* top: 5px;  hack: unbreak on mobile when soft keyboard is open. */
    font-size: 1.2em !important;
}
#progressIndicator {
    background-color: green;
    border-radius: 6px;
    color: white;
    padding: 3px;
    margin-bottom: 5px;
}
#errorCountIndicator {
    background-color: #c00;
    border-radius: 6px;
    color: white;
    padding: 3px;
}
#keypad {
    width: 70%;
    max-width: 70%;
    height: 10em;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    box-sizing: border-box;
    margin: 0.5em auto;

    align-items: stretch;
    justify-items: stretch;
    gap: 0.25em;
}

#keypad .keypadButton {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    background-color: #cdf;
    box-sizing: border-box;
    border-radius: 10px;
    sfont-weight: bold;
}

#keypad .keypadButtonOk {
    background-color: #ccffc8;
}