.collapsedAssignment {
    margin: 1em !important;
    display: block;
}

.collapsedAssignment button {
    margin-left: 1em;
    margin-right: 1em;
    width: 3em;
    border-radius: 1.5em;
}

form {
    margin: 2em !important;
    background: #cccccc;
    border: 1px solid gray;
    padding: 1em;
}

.extraData {
    color: gray;
    font-size: 0.9em;
}