.collapsedAssignment {
    margin: 1em !important;
    display: flex;
    flex-direction: row;
}

.expandButton {
    margin-left: 1em;
    margin-right: 1em;
    width: 3em;
    height: 3em;
    border-radius: 1.5em;
}

.formButton {
    margin-top: 1em;
    margin-right: 1em;
    padding: 1em 1em;
}

form {
    background: #eeeeee;
    border: 1px solid gray;
    padding: 1em;
    /*display: inline-block;*/
}

.extraData {
    color: gray;
    font-size: 0.9em;
}