.popup {
	position: absolute;
	right: 0;
	top: calc(100% + 8px);
	z-index: 10;
	display: grid;
	gap: 8px;
	min-width: 200px;
	padding: 10px;
	background: rgba(20, 20, 20, 0.75); /* todo: alpha=0.95*/
	/*border: 1px solid rgba(255, 255, 255, 0.2);*/
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 8px;
	box-shadow: 0 8px 18px rgba(0, 0, 0, 0.35);
	backdrop-filter: blur(10px) !important; /* todo: doesn't work */
	-webkit-backdrop-filter: blur(10px);
}
